# -*-mode:conf-toml-*- vim:ft=toml
# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/

{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{ $cdCommand := promptStringOnce . "cdCommand" "Select the shell to use in chezmoi subshell" }}
{{ $email := promptStringOnce . "email" "What is your email address" }}

color = yes
progress = true
verbose = true
[cd]
    command = {{ $cdCommand | quote }}

[data]
    email = {{ $email | quote }}
